* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.ContactUs-Main a{
    color: #454545;
    text-decoration: none;
}

.ContactUs-Main a:hover{
    color: red;
}

.ContactUs-TieuDe h1{
    font-weight: 700;
}

#ContactUs-button {
    width: 100%;
    height: 50px;
    font-weight: 700;
    background-color: #026fb5;;
    font-size: 17px;
}

.ContactUs-Label {
    font-size: .9em;
    font-weight: 100;
}

.ContactUs-Label span {
    color: red;
    font-weight: 700;
}

.ContactUs-Input {
    width: 100%;
    height: auto;
    resize: none;
}
.ContactUs-EmailText a{
    color: #454545;
    text-decoration: none;
}
.ContactUs-EmailText a:hover{
    color: red;
}
#ContactUs-TenBieuTuong {
    justify-items: center;
}

#ContactUs-BieuTuong li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1em 0 0;
    font-size: 1.5em;
}

#ContactUs-BieuTuong li a {
    color: rgb(131, 128, 128);
}

#ContactUs-BieuTuong li a:hover {
    color: #026fb5;
}

#Contact-Us-Iframe {
    padding: .2em;
    border: 1px solid rgb(182, 182, 182);
    border-radius: .5em;
    margin: 0 0 1em 0;
}

#ContactUs-Map {
    width: 100%;
    height: 265px;
}