.parks-characters .m {
    padding: 20px;
}

.parks-characters .a {
    transition: transform .2s;
    width: 200px;    
}

.parks-characters .a:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
}

.parks-characters img{
    width: 100%;
}

.parks-characters h3{
    color: rgb(83, 126, 245);
}
